services:
  db:
    image: postgres:15
    container_name: hackathon_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hackathon_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: hackathon_redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: hackathon_backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL_ASYNCPG: postgresql+asyncpg://postgres:postgres@db:5432/hackathon_db
      REDIS_URL: redis://redis:6379/0
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  frontend:
    build: ./frontend
    container_name: hackathon_frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  
volumes:
  postgres_data:
