@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


@font-face {
    font-family: boldgod;
    src: url(../../../assets/fonts/Specify\ PERSONAL\ Expanded\ Bold.woff);
}
.load-head {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans', sans-serif;
    color: var(--primary-color);
    text-shadow: 0 0 10px var(--primary-color),
                 0 0 20px var(--primary-color),
                 0 0 40px var(--primary-color);
    letter-spacing: 0.1em;
}
 